<!DOCTYPE html>
<html>
  <head>
    <title>Blog Website</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header -->
      <header id="header">
        <div class="inner">
          <!-- Logo -->
          <a href="/" class="logo">
            <span class="fa fa-pencil"></span>
            <span class="title">Blogging</span>
          </a>

          <!-- Nav -->
          <nav>
            <ul>
              <li><a href="#menu">Menu</a></li>
            </ul>
          </nav>
        </div>
      </header>

      <!-- Menu -->
      <nav id="menu">
        <h2>Menu</h2>
        <ul>
          <li><a href="/" class="active">Home</a></li>

          <li><a href="/blog">Blogs</a></li>

          <li><a href="/about">About</a></li>

          <li><a href="/profile">Profile</a></li>

          <li><a href="/fav">Favourite Blogs</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </nav>

      <!-- Main -->
      <div id="main">
        <div class="inner">
          <h1>Blogs of particular category</h1>

          <div class="image main">
            <img
              src="/img/banner-image-3-1920x500.jpg"
              class="img-fluid"
              alt=""
            />
          </div>

          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <div class="col-sm-4 text-center">
                    <img
                      src="/img/blog-1-720x480.jpg"
                      class="img-fluid"
                      alt=""
                    />

                    <h2 class="m-n">
                      <a href="/blog_post"
                        >Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit.</a
                      >
                    </h2>

                    <p>John Doe &nbsp;|&nbsp; 12/06/2020 10:30</p>
                  </div>

                  <div class="col-sm-4 text-center">
                    <img
                      src="/img/blog-2-720x480.jpg"
                      class="img-fluid"
                      alt=""
                    />

                    <h2 class="m-n">
                      <a href="/blog_post"
                        >Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit.</a
                      >
                    </h2>

                    <p>John Doe &nbsp;|&nbsp; 12/06/2020 10:30</p>
                  </div>

                  <div class="col-sm-4 text-center">
                    <img
                      src="/img/blog-3-720x480.jpg"
                      class="img-fluid"
                      alt=""
                    />

                    <h2 class="m-n">
                      <a href="/blog_post"
                        >Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit.</a
                      >
                    </h2>

                    <p>John Doe &nbsp;|&nbsp; 12/06/2020 10:30</p>
                  </div>

                  <div class="col-sm-4 text-center">
                    <img
                      src="/img/blog-4-720x480.jpg"
                      class="img-fluid"
                      alt=""
                    />

                    <h2 class="m-n">
                      <a href="/blog_post"
                        >Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit.</a
                      >
                    </h2>

                    <p>John Doe &nbsp;|&nbsp; 12/06/2020 10:30</p>
                  </div>

                  <div class="col-sm-4 text-center">
                    <img
                      src="/img/blog-5-720x480.jpg"
                      class="img-fluid"
                      alt=""
                    />

                    <h2 class="m-n">
                      <a href="/blog_post"
                        >Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit.</a
                      >
                    </h2>

                    <p>John Doe &nbsp;|&nbsp; 12/06/2020 10:30</p>
                  </div>

                  <div class="col-sm-4 text-center">
                    <img
                      src="/img/blog-6-720x480.jpg"
                      class="img-fluid"
                      alt=""
                    />

                    <h2 class="m-n">
                      <a href="/blog_post"
                        >Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit.</a
                      >
                    </h2>

                    <p>John Doe &nbsp;|&nbsp; 12/06/2020 10:30</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <footer id="footer">
        <div class="inner">
          <section>
            <ul class="icons">
              <li>
                <a href="#" class="icon style2 fa-twitter"
                  ><span class="label">Twitter</span></a
                >
              </li>
              <li>
                <a href="#" class="icon style2 fa-facebook"
                  ><span class="label">Facebook</span></a
                >
              </li>
              <li>
                <a href="#" class="icon style2 fa-instagram"
                  ><span class="label">Instagram</span></a
                >
              </li>
              <li>
                <a href="#" class="icon style2 fa-linkedin"
                  ><span class="label">LinkedIn</span></a
                >
              </li>
            </ul>

            &nbsp;
          </section>

          <ul class="copyright">
            <li>Copyright © 2020 Company Name</li>
          </ul>
        </div>
      </footer>
    </div>

    <!-- Scripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery.scrolly.min.js"></script>
    <script src="/js/jquery.scrollex.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
