<!DOCTYPE html>
<html>
  <head>
    <title>Blog Website</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/bot.css" />
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header -->
      <header id="header">
        <div class="inner">
          <!-- Logo -->
          <a href="/" class="logo">
            <span class="fa fa-pencil"></span>
            <span class="title">Blogging</span>
          </a>

          <!-- Nav -->
          <nav>
            <ul>
              <li><a href="#menu">Menu</a></li>
            </ul>
          </nav>
        </div>
      </header>

      <!-- Menu -->
      <nav id="menu">
        <h2>Menu</h2>
        <ul>
          <% if (user) { %>
          <img
            src="<%= user.thumbnail %>"
            style="width: 200px; height: 200px"
          />
          <p><%= user.username%></p>
          <p><%= user.email%></p>
          <% } %>
          <li><a href="/" class="active">Home</a></li>

          <li><a href="/blog">Blogs</a></li>

          <li><a href="/about">About</a></li>

          <% if (user) { %>
          <li><a href="/profile">Profile</a></li>

          <li><a href="/fav">Favourite Blogs</a></li>
          <% } %> <% if (user) { %>
          <li><a href="/auth/logout">Log out</a></li>
          <% } else { %>
          <li><a href="/auth/google">Login</a></li>
          <% } %>
        </ul>
      </nav>

      <!-- Main -->
      <div id="main">
        <div class="inner">
          <h1>Chat-Bot</h1>
        </div>
        <div id="container" class="container">
          <img src="/img/bot1.png" alt="Robot cartoon" />
          <div id="chat" class="chat">
            <div id="messages" class="messages">
              <div id="bot1">
                Hi!&nbsp;&nbsp;&nbsp;<img
                  src="/img/bot-mini.png"
                  class="avatar"
                />
              </div>
              <br />
              <div id="bot1">
                Welcome to our website! What is your name? &nbsp;&nbsp;<img
                  src="/img/bot-mini.png"
                  class="avatar"
                />
              </div>
              <br />
            </div>
            <input
              id="input"
              type="text"
              placeholder="Say something..."
              autocomplete="off"
              autofocus="true"
            />
            <button type="submit" style="opacity: 0"></button>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <footer id="footer">
        <div class="inner">
          <section>
            <ul class="icons">
              <li>
                <a href="#" class="icon style2 fa-twitter"
                  ><span class="label">Twitter</span></a
                >
              </li>
              <li>
                <a href="#" class="icon style2 fa-facebook"
                  ><span class="label">Facebook</span></a
                >
              </li>
              <li>
                <a href="#" class="icon style2 fa-instagram"
                  ><span class="label">Instagram</span></a
                >
              </li>
              <li>
                <a href="#" class="icon style2 fa-linkedin"
                  ><span class="label">LinkedIn</span></a
                >
              </li>
            </ul>

            &nbsp;
          </section>

          <ul class="copyright">
            <li>Copyright © 2020 Company Name</li>
          </ul>
        </div>
      </footer>
    </div>
    <a href="#" class="to-top" style="text-decoration: none; color: white">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Scripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery.scrolly.min.js"></script>
    <script src="/js/jquery.scrollex.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/bot.js"></script>
    <script src="/js/constants.js"></script>
    <script src="/js/speech.js"></script>
  </body>
</html>
